
    <div ng-controller="controller2">
        <div class="input-group">
            <span class="input-group-addon">Enter The Number : </span>
            <input id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info" ng-model="number">
         </div>
         <br>
         
         <button type="button" class="btn" ng-click="CalculateSquare()">Calculate Square</button>
         
         <button type="button" class="btn" ng-click="CalculateFactorial()">Calculate Factorial</button>
         
         <button type="button" class="btn" ng-click="CalculateCube()">Calculate Cube</button>
         
        <h3>{{value}}</h3>
    
    </div>
